<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>SetList</title>
=======
    <title>SetList2010</title>
>>>>>>> cd57a85... Initial commit
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
